# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*

# CocoaPods
ios/Pods/
/ios/Podfile.lock

# Android related
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties

# IntelliJ / Android Studio
*.iml
.idea/
/*.ipr
/*.iws

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
